body {
  font-family: "Open Sans", sans-serif;
}


.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}


.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#FFD700, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #FFD700, #FFD700, #FFD700);
  color: black;
}

.jumbotron h1 {
  color:black
}
.jumbotron h2 {
  color: black
}

.Navbar-Brand{
  color: yellow;
}
.SunriseCarousel> .item {
  height: 400px;
}
.carousel-img-control{
  object-position: 50% 30%;
  height: 25rem;
  object-fit: cover;
}

